{% extends 'layout.html.twig' %}

{% block title 'Votre panier' %}

{% block content %}
    <div class="menu">
        <h2>Votre panier</h2>
        {% for row in cart.rows %}
            <div class="meal">
                <div class="row">
                    <div class="col-xs-6 col-sm-4 col-md-3">
                        {% if false %}
                            <img src="..." alt="...">
                        {% else %}
                            <div class="no-photo">
                                Aucune photo
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-xs-6 col-sm-8 col-md-9">
                        <h4 class="pull-right">{{ row.price }}&nbsp;€</h4>
                        <h4>{{ row.quantity }}x {{ row.meal.name }} <small>{{ row.meal.price }}&nbsp;€/unité</small></h4>
                        <p>{{ row.meal.description }}</p>
                        <div class="input-group btn-add-to-cart">
                            <input data-url="{{ path('cart_setMeal') }}" data-mode="set" data-refresh="refresh" data-meal="{{ row.meal.id }}" type="number" class="form-control" aria-label="Quantité" value="{{ row.quantity }}" name="quantity" />
                            <div class="input-group-btn">
                                <button class="btn btn-success">
                                    <i class="add glyphicon glyphicon-shopping-cart"></i>
                                    <i style="display: none;" class="wait glyphicon glyphicon-hourglass"></i>
                                    <i style="display: none;" class="ko glyphicon glyphicon-alert"></i>
                                    <i style="display: none;" class="ok glyphicon glyphicon-ok"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if loop.last %}
                <hr />
                <h3 class="text-right">Total : {{ cart.total }}&nbsp;€</h3>
            {% endif %}
        {% else %}
            <p><strong>Votre panier est vide</strong>. Utilisez le menu pour accéder aux diférents plats et faire votre sélection.</p>
        {% endfor %}
    </div>
{% endblock %}
