<div id="cart-panel" class="dropdown{% if not cart.totalCount == 0 %} not-empty{% endif %}">
    <div class="btn-group dropstart">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="cart-panel-button" data-bs-toggle="dropdown" aria-expanded="false">
            Votre panier ({{ cart.totalCount }})
        </button>
        <ul id="cart-panel-details" class="dropdown-menu" aria-labelledby="cart-panel-button">
            <li>
                {% for row in cart.rows %}
                    {% if loop.first %}
                        <table class="table">
                    {% endif %}
                    <tr>
                        <td class="quantity">{{ row.quantity }}x</td>
                        <td class="name">{{ row.meal.name }}</td>
                        <td class="price">{{ row.price|format_price }}</td>
                    </tr>
                    {% if loop.last %}
                        <tr class="total"><td colspan="3"><strong>Total</strong> : {{ cart.totalPrice|format_price }}</td></tr>
                        </table>
                        <p class="show"><a href="{{ path('cart_show') }}" class="btn btn-success">Voir mon panier</a></p>
                    {% endif %}
                {% else %}
                    <p class="empty"><em>Votre panier est actuellement vide</em></p>
                {% endfor %}
            </li>
        </ul>
    </div>
</div>
