{% extends 'layout.html.twig' %}

{% block title 'Votre panier' %}

{% import "_menu_macros.html.twig" as menu_macros %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h2>Votre panier</h2>
            {% for row in cart.rows %}
                {% if loop.first %}
                    <table class="table table-condensed table-borderless">
                    <tr>
                        <th>&nbsp;</th>
                        <th>Description</th>
                        <th>Prix à l'unité</th>
                        <th>Total</th>
                    </tr>
                {% endif %}
                <tr>
                    <td style="max-width: 6rem">
                        {{ menu_macros.meal_photo(row.meal) }}
                    </td>
                    <td>
                        <p class="h4 mb-2">{{ row.meal.name }}</p>
                        <form class="cart-form mb-2" action="{{ path('cart_setMeal', {return: path('cart_show')}) }}" method="POST">
                            <input type="hidden" name="mode" value="set" />
                            <input type="hidden" name="meal" value="{{ row.meal.id }}" />
                            <div class="input-group">
                                <span class="input-group-text bg-light">Qté :</span>
                                <input type="number" name="quantity" class="form-control" value="{{ row.quantity }}" aria-label="Quantité" aria-describedby="basic-addon2">
                                <button type="submit" class="btn btn-outline-primary">Modifier</button>
                            </div>
                        </form>
                    </td>
                    <td>
                        <div class="menu-price">{{ row.meal.price|format_price }}</div>
                    </td>
                    <td>
                        <div class="menu-price">{{ row.price|format_price }}</div>
                    </td>
                </tr>
                {% if loop.last %}
                    <tr>
                        <td colspan="2">&nbsp;</td>
                        <td class="menu-total-label">Total :</td>
                        <td>
                            <div class="menu-price big-price">{{ cart.totalPrice|format_price }}</div>
                        </td>
                    </tr>
                    </table>
                    <div class="text-center">
                        <p><a href="{{ path('cart_order') }}" class="btn btn-lg btn-success"><span class="glyphicon glyphicon-shopping-cart"></span> Passer commande</a></p>
                    </div>
                {% endif %}
            {% else %}
                <p><strong>Votre panier est vide</strong>. Utilisez le menu pour accéder aux diférents plats et faire votre sélection.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
