<div class="edp-header">
    <div class="container">
        <a class="brand" href="{{ path('homepage') }}">{{ sitename }}</a>
    </div>
</div>

<div class="nav-categories-wrapper">
    <div class="container">
        {{ render(controller('AppBundle:Cart:panel')) }}
        <ul class="nav nav-categories">
            {% for category in categories %}
                <li{% if category.slug == active|default %} class="active"{% endif %}><a href="{{ path('category_show', {slug: category.slug}) }}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
