{% extends "layout-admin.html.twig" %}

{% block title 'Commandes' %}

{% block content %}
    <table class="table table-striped table-bordered table-hovered">
        <tr>
            <th width="5%">&nbsp;</th>
            <th>Nom complet</th>
            <th>Date de création</th>
            <th>Nombre de produits</th>
            <th>Total</th>
        </tr>
        {% for order in orders %}
            <tr>
                <td><a href="{{ path('admin_order', {id: order.id}) }}" class="btn btn-xs btn-default">Ouvrir</a></td>
                <td>{{ order.fullname }}</td>
                <td>{{ order.createdAt|localizeddate('full', 'none') }}</td>
                <td>{{ order.order.total_count }}</td>
                <td>{{ order.order.total_price|format_currency }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
