{% extends 'layout.html.twig' %}

{% block title category.name %}

{% import "_menu_macros.html.twig" as menu_macros %}

{% set header_category_group = category.group %}
{% set header_active = category.slug %}

{% block content %}
    <div class="menu">
        <h2>{{ category.name }}</h2>
        {% if category.description %}
            <p>{{ category.description|nl2br }}</p>
        {% endif %}
        <div class="row row-cols-lg-4 row-cols-md-2 g-4 row-cols-1">
            {% for meal in category.meals %}
                <div class="col">
                    <div class="card">
                        <div class="card-picture">
                            {{ menu_macros.meal_photo(meal) }}
                        </div>
                        <div class="card-body">
                            <p class="float-end menu-price">{{ meal.price|format_price }}</p>
                            <h5>
                                {{ meal.name }}
                                {{ menu_macros.meal_flags(meal) }}
                            </h5>
                            {% if meal.description %}
                                <p>{{ meal.description }}</p>
                            {% endif %}
                        </div>
                        <form action="{{ path('cart_setMeal', {return: path('category_show', {group: category.group, slug: category.slug})}) }}" method="POST">
                            <input type="hidden" name="mode" value="add" />
                            <input type="hidden" name="meal" value="{{ meal.id }}" />
                            <div class="input-group">
                                <span class="input-group-text bg-light">Qté :</span>
                                <input type="number" name="quantity" class="form-control" value="1" aria-label="Quantité" aria-describedby="basic-addon2">
                                <button type="submit" class="btn btn-primary">Ajouter</button>
                            </div>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
