<header class="edp--header">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-4 col--logo">
                <a href="{{ path('homepage') }}">
                    <img width="200" height="139" alt="{{ sitename }}" src="{{ asset('build/images/logo-new.png') }}" />
                </a>
            </div>
            <div class="col-lg-8 col-md-6 col-sm-8 col--title">
                <h1>
                    <a href="{{ path('homepage') }}">
                        Envie d'un Plat
                    </a>
                    <div>
                        Pascal &amp; Rosa
                    </div>
                </h1>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-12 col--extra">
                <a class="btn" href="#">03.21.22.18.15</a>
                <a class="btn" href="#">Facebook</a>
            </div>
        </div>
    </div>
</header>

<nav class="edp--nav navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Basculer le menu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav navbar-categories me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown nav-item-group">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Cuisine Française
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                {% for category in categories %}
                <li class="nav-item{% if category.slug == active|default %} active{% endif %}">
                    <a class="nav-link{% if category.slug == active|default %} active{% endif %}" aria-current="page" href="{{ path('category_show', {slug: category.slug}) }}">
                        {{ category.name }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {{ render(controller('App\\Controller\\CartController::panelAction')) }}
        </ul>
    </div>
</nav>
