{% extends 'layout.html.twig' %}

{% block title 'Portage de repas, cuisine française et portugaise' %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div class="edp--flag-fr">
                <div>
                    <h3>Plats français</h3>
                    {% for category in get_categories('fr') %}
                        <h5>
                            <a href="{{ path('category_show', {group: 'fr', slug: category.slug}) }}">
                                {{ category.name }}
                            </a>
                        </h5>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="edp--portage">
                <h3>Portage de repas</h3>
                <p>
                    Nous proposons le portage de repas à domicile de plats dans le Pas-de-Calais.
                </p>
                <p class="text-center">
                    <a class="btn btn-outline-primary btn-lg" href="{{ path('portage') }}">Portage de repas à domicile</a>
                </p>
            </div>
            <div class="edp--qsn col-lg-12 text-center mt-4">
                <img src="{{ asset('build/images/photo.jpg') }}" class="img-fluid" title="Pascal et Rosa - {{ sitename }}" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="edp--flag-pt">
                <div>
                    <h3>Plats portugais</h3>
                    {% for category in get_categories('pt') %}
                        <h5>
                            <a href="{{ path('category_show', {group: 'pt', slug: category.slug}) }}">
                                {{ category.name }}
                            </a>
                        </h5>

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        {% set pictures = {
            'build/images/plats/beignets-morue.jpg': 'Beignets de morue',
            'build/images/plats/brochette-fruits.jpg': 'Brochette fruits',
            'build/images/plats/cassoulet.jpg': 'Cassoulet',
            'build/images/plats/feuillete-legumes.jpg': 'Feuilleté de légumes',
            'build/images/plats/paon.jpg': 'Buffet décoratif',
            'build/images/plats/verrine.jpg': 'Verrines betterave-chèvre',
        } %}
        {% for image, title in pictures %}
            <div class="col-lg-4 col-md-6 col-sm-6 mt-4">
                <img src="{{ asset(image) }}" alt="{{ title }}" title="{{ title }}" class="img-fluid" />
            </div>
        {% endfor %}
    </div>
{% endblock %}
