{% extends 'layout.html.twig' %}

{% block title 'Portage de repas, cuisine française et portugaise' %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div class="edp--flag-fr">
                <div>
                    <h3>Plats français</h3>
                    {% for category in get_categories('fr') %}
                        <h5>
                            <a href="{{ path('category_show', {group: 'fr', slug: category.slug}) }}">
                                {{ category.name }}
                            </a>
                        </h5>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="edp--portage">
                <h3>Portage de repas</h3>
                <p>Nous proposons la livraison à domicile de plats, que c'est de la bonne nourriture qui nourrit bien.</p>
                <p>Allez voir là donc :</p>
                <p>XXX</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="edp--flag-pt">
                <div>
                    <h3>Plats portugais</h3>
                    {% for category in get_categories('pt') %}
                        <h5>
                            <a href="{{ path('category_show', {group: 'pt', slug: category.slug}) }}">
                                {{ category.name }}
                            </a>
                        </h5>

                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="edp--qsn offset-lg-4 col-lg-4 mt-4">
            <img src="{{ asset('build/images/photo.jpg') }}" class="img-fluid" title="Pascal et Rosa - {{ sitename }}" />
        </div>
    </div>
{% endblock %}
