{% extends 'layout-admin.html.twig' %}

{% import "_order_macros.html.twig" as order_macros %}

{% set admin_breadcrumb = [
    {label: 'Portage'}
] %}

{% block title 'Admin Portage' %}

{% block content %}
    <h3>Portage de repas</h3>
    <h4>Menu actuel</h4>
    <img src="{{ get_portage_photo('800') }}?rand={{ random() }}" class="d-fluid" />
    <h4>Changer le menu affiché</h4>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Upload" />
    {{ form_end(form) }}
{% endblock %}
