{% extends "layout-admin.html.twig" %}

{% import "_order_macros.html.twig" as order_macros %}

{% block title 'Commandes' %}

{% set admin_breadcrumb = [
    {label: 'Commandes'},
] %}

{% block content %}
    <h3>Commandes</h3>
    <table class="table table-striped table-bordered table-hovered">
        <tr>
            <th width="5%">&nbsp;</th>
            <th>Nom complet</th>
            <th>Date et heure</th>
            <th>Enlèvement</th>
            <th>Nombre de produits</th>
            <th>Total</th>
        </tr>
        {% for order in orders %}
            <tr>
                <td><a href="{{ path('admin_order_show', {id: order.id}) }}" class="btn btn-xs btn-default">Ouvrir</a></td>
                <td>{{ order.fullname }}</td>
                <td>{{ order_macros.order_creation(order) }}</td>
                <td>{{ order.date }}</td>
                <td>{{ order.order.total_count }}</td>
                <td>{{ order.order.total_price|format_price }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6" class="info text-center">Aucune commande :) Patience maman, patience...</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
