{% extends 'layout-admin.html.twig' %}

{% block title 'Édition de la catégorie ' ~ category.name %}

{% set admin_breadcrumb = [
    {label: 'Gestion du menu', href: path('admin_menu_index') },
    {label: category.name}
] %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h3>Informations générales</h3>
            {{ form(form) }}
            <hr />
            <div class="panel panel-danger">
                <div class="panel-heading">
                    Zone de danger
                </div>
                <div class="panel-body">
                    <p><a href="{{ path('admin_menu_category_delete', {id: category.id}) }}" class="btn btn-danger">Supprimer cette catégorie</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3>Plats</h3>
            <table class="table">
                {% for meal in category.meals(false) %}
                    <tr>
                        <td>#{{ meal.position }}</td>
                        <td>
                            <a href="{{ path('admin_menu_meal_edit', {id: meal.id}) }}">{{ meal.name }}</a>
                            {% if not meal.active %}
                                <em>(caché)</em>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td>&nbsp;</td>
                    <td><a class="btn btn-success" href="{{ path('admin_menu_meal_create', {id: category.id}) }}">Ajouter un plat</a></td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}
